---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title='Trailedge Labs // About' desc='Trailedge Labs'>
  <Nav />
  <section class='py-4 text-gray-500 dark:text-gray-400'>
    <h1>About</h1>
    <h3>What is Trailedge Labs?</h3>
    <p>Trailedge Labs is a small indie lab building cool web apps that fuel American Dynamism. We were formed in 2024 to bring to life our vision of the future of web development. We also just like to build web apps we think are cool becuase is is fun.</p>
    <blockquote>"Because strait is the gate, and narrow is the way, which leadeth unto life, and few there be that find it." ~ Matthew 7:14</blockquote>
    <p>We believe that building quality software requires conviction. The road to good software is hard, strait, narrow and reserved for the few. Our objective is to be a part of that noble few in spite of the very real costs.</p>

    <h3>What is American Dynamism (as pertaining to web development)?</h3>
    <p>We define "American Dynamism" as our core philosophy. It values meritocracy over mediocrity. Privacy over surveillance. Freedom over censorship. Elegance over confusion. Efficiency over bloat.</p>
    <p>We believe that civilization improving (or maintaining it's status) doesn't happen by accident but only when great minds take great pains to drive it forward. This is what Trailedge strives to do. In a small way, we strive to drive society forward by producing quality software. As a matter of fact you might say we are accelerationists as we want to accelerate technology.</p>
  </section>
</Layout>
