<button
  @click="modalOpen=true"
  class='relative inline-block w-full h-full px-4 py-5 mx-2 font-medium leading-tight text-center md:py-2 group md:w-auto md:px-2 lg:mx-3 md:text-center duration-300 ease-out text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100'
>
  <div class='flex items-center space-x-2'>
    <svg width="2em" height="2em" viewBox="0 0 14 14">
      <title>Contact</title>
      <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M12.5 1.75h-11a1 1 0 0 0-1 1v8.5a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-8.5a1 1 0 0 0-1-1"/><path d="m.5 3l5.86 3.524c.18.106.406.163.64.163c.234 0 .46-.057.64-.163L13.5 3"/></g>
    </svg>
    <span>Contact</span>
  </div>
  <span class="absolute bottom-0 w-0 h-px duration-300 ease-out translate-y-6 group-hover:left-0 left-1/2 group-hover:w-full bg-gradient-to-r md:from-gray-700 md:via-gray-400 md:to-gray-700 from-gray-900 via-gray-600 to-gray-900"></span>
</button>
