<button
  @click="modalOpen=true"
  class="flex gap-1 cursor-pointer font-baunk text-gray-800 dark:text-gray-200 h-12 items-center justify-center space-y-2 font-semibold rounded-lg border-[1px] border-none bg-sec-half dark:bg-sec-half-dark p-4 text-sm rounded-md shadow-xl active:translate-y-[2px] transition-all duration-300 ease-out hover:shadow-acc-shadow dark:hover:shadow-acc-shadow-dark">
  <svg class='stroke-gray-800 dark:stroke-gray-200' width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <title>Bold</title>
    <rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
  </svg>
  <bold>Contact</bold>
</button>
