<div class='flex gap-1 cursor-pointer h-12 items-center justify-center space-y-2 font-semibold rounded-lg border-[1px] border-none bg-[rgba(var(--sec),0.5)] bg-sec-half dark:bg-sec-half-dark p-4 text-sm rounded-md shadow-xl active:translate-y-[2px] transition-all duration-300 ease-out hover:shadow-acc-shadow dark:hover:shadow-acc-shadow-dark' x-on:click="darkMode = darkMode === 'dark' ? 'light' : 'dark'">
  <svg
    class='stroke-gray-800'
    x-bind:class="{'hidden': darkMode === 'dark'}"
    width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <title>Dark Mode</title>
    <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/>
  </svg>
  <svg
    class='stroke-gray-200'
    x-bind:class="{'hidden': darkMode === 'light'}"
    width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <title>Light Mode</title>
    <circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/>
  </svg>
</div>
