---
import TrailedgeLabsIcon from './TrailedgeLabsIcon.astro';
import FooterLinks from './FooterLinks.astro';
---

<section class='flex flex-wrap items-center justify-between pt-20'>
  <div class='flex'>
    <a href='/'>
      <TrailedgeLabsIcon />
    </a>
    <span class='font-baunk text-xs text-gray-900 dark:text-gray-100 py-[2em]'>Headquartered in Richmond, VA, USA</span>
  </div>

  <div class='flex gap-2 flex-wrap flex-row-reverse'>
    <FooterLinks />
  </div>
</section>
