---
interface Props {
  url: string;
}
const { url } = Astro.props as Props;
---

<a
  href={url} target='_blank'
  class='flex gap-1 cursor-pointer font-baunk text-gray-800 dark:text-gray-200 h-12 items-center justify-center space-y-2 font-semibold rounded-lg border-[1px] border-none bg-sec-half dark:bg-sec-half-dark px-4 py-2 text-sm rounded-md shadow-xl active:translate-y-[2px] transition-all duration-300 ease-out hover:shadow-acc-shadow dark:hover:shadow-acc-shadow-dark'
> 
  <slot />
</a>
