---
import TrailedgeLabsIcon from './TrailedgeLabsIcon.astro';
import Nav from './Nav.astro';
---
<section class='flex flex-wrap items-center justify-between pb-20'>
  <nav class="flex items-center w-full h-24 select-none" x-data="{ showMenu: false }">
      <div class="relative flex flex-wrap items-start justify-between w-full mx-auto font-medium md:items-center md:h-24 md:justify-between">
        <a href='/' class='flex items-center space-x-2'>
          <TrailedgeLabsIcon />
          <span class='py-[1.5em] font-baunk font-bold text-xl text-gray-900 dark:text-gray-100'>Trailedge Labs</span>
        </a>

        <Nav />
      </div>
    </div>
  </nav>
</section>
