---
import NavLinks from './NavLinks.astro';
---

<section class='sticky top-10 z-50 flex flex-wrap items-center justify-between pb-20'>
  <nav class="flex items-center w-full select-none" x-data="{ showMenu: false }">
    <div class="relative flex flex-wrap items-start justify-between w-full mx-auto font-medium md:items-center md:h-20 md:justify-between">
      <div :class="{'flex': showMenu, 'hidden md:flex': !showMenu }" class="absolute flex-col items-center justify-center w-full h-auto px-2 text-center text-gray-400 -translate-x-1/2 border-0 border-acc dark:border-acc-dark rounded-full md:border md:w-auto left-1/2 md:flex-row md:items-center bg-[rgba(var(--pri),0.5)] dark:bg-[rgba(var(--pri-dark),0.5)]">
      <NavLinks />
    </div>
    <div @click="showMenu = !showMenu" class="absolute right-0 z-50 flex flex-col items-end translate-y-1.5 w-10 h-10 p-2 mr-4 rounded-full cursor-pointer md:hidden hover:bg-gray-200/10 hover:bg-opacity-10" :class="{ 'text-gray-400': showMenu, 'text-gray-100': !showMenu }">
        <svg class="w-6 h-6" x-show="!showMenu" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor" x-cloak>
            <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
        <svg class="w-6 h-6" x-show="showMenu" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" x-cloak>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </div>
    </div>
  </nav>
</section>
