---
import WorkCard from './WorkCard.astro';

interface project {
  title: string;
  github: string;
  url: string;
  desc: string;
}

const PROJECTS: project[] = [{
  title: 'Project 1',
  github: 'https://github.com/bradswhite/project1',
  url: 'https://vercel.com',
  desc: 'Project details..',
}, {
  title: 'Project 2',
  github: 'https://github.com/bradswhite/project2',
  url: 'https://vercel.com',
  desc: 'Project details..',
}, {
  title: 'Project 3',
  github: 'https://github.com/bradswhite/project3',
  url: 'https://vercel.com',
  desc: 'Project details..',
}, {
  title: 'Project 4',
  github: 'https://github.com/bradswhite/project4',
  url: 'https://vercel.com',
  desc: 'Project details..',
}];
---

<section class='w-full justify-center py-4'>
  <a href='/#work' class='flex inline-flex items-center px-8 py-4'>
    <svg class='stroke-gray-800 dark:stroke-gray-200 mr-2' width="2em" height="2em" viewBox="0 0 14 14" >
      <g fill="none" stroke-linecap="round" stroke-linejoin="round"><rect width="13" height="13" x=".5" y=".5" rx="1"/><path d="M.5 4h13m-9 3L3 8.5L4.5 10M10 7l1.5 1.5L10 10m-3.5.5L8 6"/></g>
    </svg>
    <h3 id='work' class='text-2xl font-crenzo text-gray-800 dark:text-gray-200 py-4'>Work</h3>
  </a>

  <div class='flex gap-4 grid grid-cols-1 md:grid-cols-2 flex-row flex-wrap'>
    {PROJECTS.map(data => (
      <WorkCard data={data} />
    ))}
  </div>
</section>
