---
import BaseHead from '../components/BaseHead.astro';
import ContactModal from '../components/ContactModal.astro';
import Toast from '../components/Toast.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
  desc: string;
  image?: string;
}

const { title, desc, image } = Astro.props;
---

<!DOCTYPE HTML>
<html lang="en-US">
	<head>
    <BaseHead title={title} desc={desc} image={image} />
    <style is:global>
      :root {
        --pri-dark: 45, 82, 59;
        --sec-dark: 88, 126, 102;
        --acc-dark: 75, 63, 105;

        --pri: 131, 170, 145;
        --sec: 213, 208, 215;
        --acc: 126, 97, 184;
      }

      @font-face {
        font-family: 'Triakis';
        src: url('/public/fonts/TriakisReg.otf');
        font-weight: bold;
        font-style: normal;
      }

      @font-face {
        font-family: 'Baunk';
        src: url('/public/fonts/Baunk.ttf');
        font-weight: bold;
        font-style: normal;
      }

      * {
        @apply selection:bg-sec dark:selection:bg-sec-dark;
      }

      body {
        @apply bg-pri dark:bg-pri-dark font-triakis;
        margin: 0;
        padding: 0;
        text-align: left;
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-height: 1.7;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0 0 0.5rem 0;
        line-height: 1.2;
      }
      h1 {
        font-size: 3.052em;
        @apply text-gray-900 dark:text-gray-100;
      }
      h2 {
        font-size: 2.441em;
        @apply text-gray-800 dark:text-gray-200;
      }
      h3 {
        font-size: 1.953em;
        @apply text-gray-700 dark:text-gray-300;
      }
      h4 {
        font-size: 1.563em;
        @apply text-gray-600 dark:text-gray-400;
      }
      h5 {
        font-size: 1.25em;
      }
      strong,
      b {
        font-weight: 700;
      }
      /*a {
        color: var(--accent);
      }
      a:hover {
        color: var(--accent);
      }*/
      p {
        margin-bottom: 1em;
      }
      .prose p {
        margin-bottom: 2em;
      }
      textarea {
        width: 100%;
        font-size: 16px;
      }
      input {
        font-size: 16px;
      }
      table {
        width: 100%;
      }
      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
      code {
        @apply dark:bg-gray-800;
        padding: 2px 5px;
        border-radius: 2px;
      }
      pre {
        padding: 1.5em;
        border-radius: 8px;
      }
      pre > code {
        all: unset;
      }
      blockquote {
        /*border-left: 4px solid var(--accent);*/
        padding: 0 0 0 20px;
        margin: 0px;
        font-size: 1.333em;
      }
      hr {
        border: none;
      }
    </style>
	</head>
  <body
    x-data="{darkMode: localStorage.getItem('darkMode') || localStorage.setItem('darkMode', 'system')}"
    x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
    x-bind:class="{'dark': darkMode === 'dark' || (darkMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)}">
    <div x-data="{ title: 'Default Toast Notification', description: '', type: 'success', position: 'bottom-right', expanded: false, popToast (custom) { let html = ''; if (typeof custom != 'undefined') { html = custom; } toast(this.title, { description: this.description, type: this.type, position: this.position, html: html }) }}"
    x-init=" window.toast = function(message, options = {}) { let description = ''; let type = 'success'; let position = 'bottom-right'; let html = ''; if (typeof options.description != 'undefined') description = options.description; if (typeof options.type != 'undefined') type = options.type; if (typeof options.position != 'undefined') position = options.position; if (typeof options.html != 'undefined') html = options.html; window.dispatchEvent(new CustomEvent('toast-show', { detail : { type: type, message: message, description: description, position : position, html: html }})); }"
    class="relative space-y-5">
      <main
        class='mx-auto min-h-full max-w-4xl py-16 sm:px-16'
        x-data="{ modalOpen: false }"
        @keydown.escape.window="modalOpen = false">
        <slot />
        <ContactModal />
        <Toast />
        <Footer />
      </main>
    </div>
	</body>
</html>
